html,
body {
  height: 100%;
  margin: 0;
}

.App-header {
  display: flex;
  justify-content: center;
  padding: 10px;
  text-align: center;
  background-color: wheat;
}

.App-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  margin: 2%;
}
.content button {
  margin: 2%;
}

.App-footer {
  background-color: black;
  color: wheat;
  padding: 50px;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .App-header,
  .App-nav {
    padding: 5px;
  }

  .content,
  .content button {
    margin: 1%;
  }

  .App-footer {
    padding: 30px;
  }
}